<?xml version="1.0"?>
<config>
    <modules>
        <Arabgento_Productdetails>
            <version>2.0.4</version>
        </Arabgento_Productdetails>
    </modules>
    <global>
        <helpers>
            <productdetails>
                <class>Arabgento_Productdetails_Helper</class>
            </productdetails>
        </helpers>
        <resources>
            <productdetails_setup>
                <setup>
                    <module>Arabgento_Productdetails</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productdetails_setup>
            <productdetails_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productdetails_write>
            <productdetails_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productdetails_read>
        </resources>
    </global>
	<default>
        <product_details>
            <general>
				<enabled>1</enabled>
				<mainImageSize>265_265</mainImageSize>
				<popupImageSize>500_500</popupImageSize>
				<additionalImageSize>60_60</additionalImageSize>
            </general>
        </product_details>
    </default>
    <frontend>
        <layout>
            <updates>
                <productdetails>
                    <file>productdetails.xml</file>
                </productdetails>
            </updates>
        </layout>
    </frontend>
</config>