/* Custom */

.navbar {
    border-radius:0;
    border: 1px solid transparent;
}

.navbar-default {
    background-color: #89b9c5;
    border:none;
    min-height: 0;
    margin-bottom: 0;
}

.navbar-nav > li > a {
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    border-color: rgba(255, 255, 255, 0.15);
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    cursor: pointer;
    float: left;
    height: 42px;
    line-height: 40px;
    margin: 0;
    outline: none;
    padding: 0 18px;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    outline: none;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #89b9c5;
    background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #89b9c5;
    background-color: #ffffff;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #ffffff;
    background-color: #89b9c5;
}


.top-bar-container {
    background-image: none;
    background-color: rgb(137, 185, 197);
    color: rgb(117, 117, 117);
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    position: relative;
    z-index: 99;
}

.navbar {min-height:0; border: none; margin-bottom: 0;}
.navbar-nav {margin:0;}
.navbar-collapse{max-height:none;}


/* topmenu-container */
.top-menu-contanier {
    padding: 0;
    margin: 0;
    background: #ececec;
    color: #757575;
    font-family: Open Sans, Arial,Helvetica,sans-serif;
}

.categories {
    height: 45px;
}

.categories > li {
    list-style: none;
    text-align: left;
}

.categories > li > a {
    -webkit-transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
    border-color: rgba(255, 255, 255, 0.15);
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    margin: 0;
    outline: none;
    padding: 0 5px 0 5px;
    font-size:120%;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
    outline: none;
    text-decoration: none;
    color: #757575;
    display: block;
}

.categories > li > ul > li > a {
    -webkit-transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
    border-color: rgba(255, 255, 255, 0.15);
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 0 5px 0 5px;
    font-size:100%;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
    outline: none;
    text-decoration: none;
    color: #757575;
    display: block;
}

.categories > li > ul > li > ul > li a {
    -webkit-transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
    border-color: rgba(255, 255, 255, 0.15);
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 0 5px 0 5px;
    font-size:100%;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
    outline: none;
    text-decoration: none;
    color: #757575;
    display: block;
}

.categories > li > a > span {
    height: 35px;
    line-height: 35px;
}

.categories > li > ul > li  >ul > li a:hover,
.categories > li > ul > li  >ul > li a:focus,
.categories > li > ul > li > a:hover,
.categories > li > ul > li > a:focus,
.categories > li > a:hover,
.categories > li > a:focus {
    color: #ffffff;
    background-color: #89b9c5;
}

.categories > li > ul > li > ul .active > a,
.categories > li > ul > li > ul .active > a:hover,
.categories > li > ul > li > ul .active > a:focus,
.categories > li > ul > .active > a,
.categories > li > ul > .active > a:hover,
.categories > li > ul > .active > a:focus,
.categories > .active > a,
.categories > .active > a:hover,
.categories > .active > a:focus {
    color: #ffffff;
    background-color: #89b9c5;
}

.categories > li > ul > li > ul .disabled > a,
.categories > li > ul > li > ul .disabled > a:hover,
.categories > li > ul > li > ul .disabled > a:focus,
.categories > li > ul > .disabled > a,
.categories > li > ul > .disabled > a:hover,
.categories > li > ul > .disabled > a:focus,
.categories > .disabled > a,
.categories > .disabled > a:hover,
.categories > .disabled > a:focus {
    color: #ffffff;
    background-color: #89b9c5;
}

.categories > li > ul {
    margin-left: 30px;
}

.nav-container .navbar-default {
    background-color: #ececec;
}

#top-menu-collapse {
    padding: 0 15px;
    line-height: 20px;
}
#top-menu-collapse ul {
    margin: 0px;
    display: block;
    position: relative;
    line-height: 40px;
}

#top-menu-collapse ul li {
    width: 100%;
}

#top-menu-collapse ul li a {
    color: rgb(51, 51, 51);
    padding: 10px 5px 10px 15px;
    width: 100%;
    font-family: "OpenSans","Helvetica Neue","Helvetica",Arial,Verdana,sans-serif !important;
}

#top-menu-collapse ul li.level0 ul.level0 li.level1 a {
    color: rgb(51, 51, 51);
    padding: 10px 5px 10px 25px;
    width: 100%;
    font-family: "OpenSans","Helvetica Neue","Helvetica",Arial,Verdana,sans-serif !important;
}

#top-menu-collapse ul li.level0 ul.level0 li.level1 ul.level1 li.level2 a {
    color: rgb(51, 51, 51);
    padding: 10px 5px 10px 35px;
    width: 100%;
    font-family: "OpenSans","Helvetica Neue","Helvetica",Arial,Verdana,sans-serif !important;
}


.topmenuNormal:before{
    content: " + ";
}

.topmenuExpanded {
}

.breadcrumb-container {
    background-color: #f6f6f6;
    height: 35px;
    line-height: 35px;
    margin: 2px 0;
    outline: none;
    padding: 0;
    font-size: 88%;
    font-style: italic;
}

.breadcrumb {
    padding: 0 15px;
    margin-bottom: 0;
    list-style: none;
    background-color: #f6f6f6;
    border-radius: 0;
}

.breadcrumb strong {
    color: #D9673B;
}

.breadcrumb > li + li:before {
    padding: 0px 0px;
    color: rgb(204, 204, 204);
    content: "/";
}

.breadcrumbs li a {
    color: #454545;
    border: 0;
    outline: none;
    text-decoration: none;
}

.breadcrumbs li a:hover,
.breadcrumbs li a:focus {
    color: #0088cc;
}


@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -110%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -110%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 120%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 120%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 100%; /* 12 columns */
    }
}

#lsidebar, #rsidebar {
    background: #ffffff;
}
#lsidebar .block, #rsidebar .block {
    overflow: hidden;
}

.footer-container {
    margin: 20px 0 0 0;
    background: #ececec;
}

.category-info {
    border-bottom: solid 1px #89b9c5;
}

.pager {
    margin: 0;
    border: none;

}

.pager .pages {
    margin: 0 18px;
}

.pager .pages li {
    display: inline;
    font-size: 88%;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 3px 9px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.pager li>a:hover,
.pager li>a:focus {
    background-color: #89b9c5;
    color: #ffffff;
}

.pager li.current {
    display: inline-block;
    padding: 3px 9px;
    background-color: #89b9c5;
    color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.product-grid-item {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

.product-grid-item .thumbnail {
    display: block;
    padding: 8px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #fff;
    border: none;
    border-radius: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    min-height: 352px;
}

.thumbnail a img {
    overflow: hidden;
}